.venv/
flask/.flaskenv
.flaskenv
test/
flask/db_model/__pycache__/
superset/
flask/memo.ipynb
./templates/metal/참고.html
참고.html

*seoul*
chart_js.html
chart_js2.html
condition.html
*copy*
index.html
login.html
loop.html
test.html
variable.html
*.ipynb

.gitignore