<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <head>
        
    <h1>KRX listed companies</h1>

    </head>

    <main>
        <div>
            <form method="POST">
                <input type="text" name="search" placeholder="Search items" />
                <button type="submit">Search</button>
            </form>
            <h2>Results</h2>
            <ul>
                {% for key, name in mydict.items() %}
                    <li><a href="/dashboard?company={{key}}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </main>

    
</body>
</html>