<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>서울시 통합 대시보드</title>
  <link href="./practice.css" rel="stylesheet" type="text/css">
  <!-- <link hre="./bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

  <!-- <script type="text/javascript"> -->
    <!-- id가 inputA, inputB인 input 요소의 값을 가져와 변수 a, b에 저장 -->
    <!-- function doSomething(){ -->
      <!-- let a = document.getElementById('inputA').value; -->
      <!-- let b = document.getElementById('inputB').value; -->
      <!-- document.getElementById('valueA').innerHTML = a; -->
      <!-- document.getElementById('valueB').innerHTML = b; -->
      <!-- document.getElementById('valueC').innerHTML = Number(a) + Number(b); -->
    <!-- } -->
    <!-- function whatTimeIsIt(){ -->
      <!-- alert(new Date()); -->
    <!-- } -->
  <!-- </script> -->
  <script type="text/javascript" src="add_two_numbers.js"></script>
  <script type="text/javascript" src="what_time_is_it.js"></script>
  
</head>
<body>
  <script src="index.js"></script>
  
  <!-- <nav>
      <a href="./index.html">홈</a>
  <nav/> -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./city.html">서울시 도시 데이터</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>

        <form class="d-flex ml-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
      </div>
    </div>
  </nav>
  
  <div class="row my-3", style="background-color: #E1DBDF;">
    <div class="col-3 d-sm d-done">
      <img src="./images/home_image.png", class="img-fluid w-700">
    </div>
    <div class="col-9 col-sm">
      <div class="container">
        
        <img src="./images/seoul_logo.png", height="70px">
        <h1>서울시 통합 대시보드<h1/>
        <p>서울시 통합 정보 제공</p>
        <button onclick="whatTimeIsIt()">현재시간</button>
        <hr />

        <label for="inputA">a</label>
        <input id="inputA" value=1 onkeyup="doSomething()">
        <label for="inputB">b</label>
        <input id="inputB" value=2 onkeyup="doSomething()">

        <p><span id="valueA">1</span> + <span id="valueB"">2</span> = <span id="valueC">3</span>입니다.</p>
    </div>
    </div>
  </div>
  <div class="row">
    <!-- sm : 화면크기가 small일때만 -->
    <div class="col-sm col-lg-6 bg-info">
      Column
    </div>
    <div class="col-sm col-lg-3 bg-secondary">
      Column
    </div>
    <div class="col-sm col-lg-3 bg-warning">
      Column
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
  

</body>
</html>
